.footer p{
    background-color:    #00b074;
     text-align: center;
      padding:10px 0 ;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 1.4rem;
      color: #ffffff;
      text-transform: capitalize;
      margin-bottom: 0 !important;

 
}
 